.businesses {
    .container {
        display: none;

        @include xl {
            display: flex;
            align-items: center;
            justify-content: start;
            justify-content: space-evenly;
            margin-top: 40px;
        }

        .businessimg {
            width: 150px;
            height: auto;
        }
    }
}