.contact-section {
    margin-bottom: 50px;

    .container {
        background-color: $color-theme-1;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-family: $font-dmsans;
            font-weight: $font-weight-bold;
            font-size: 45px;
            margin-left: 150px;
            margin-right: 150px;
            margin-bottom: 20px;
        }

        .contact-us-input {
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            .text-danger {
                margin-left: 20px;
                font-style: italic;
                font-size: 12px;
            }

            .contact-input {
                border-radius: 20px;
                border: 0;
                padding-left: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 11px;
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            .contact-textarea {
                border-radius: 20px;
                border: 0;
                padding-left: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 11px;
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }
        
        .contact-btn {
            border: none;
            margin-top: 30px;
        }
    }
}